<!-- Footer -->
<footer class="w3-content w3-container w3-center">
  <h4>{{ site.seo_title }}</h4>
  {{site.metafields.shop.address}} • {{site.metafields.shop.zip_code}} • {{site.metafields.shop.city}} • {{site.metafields.shop.country}} • {{site.metafields.shop.hours}}
  <p>Powered by <a href="studiowan.fr" target="_blank">studioWan.fr</a> &#38; <a href="http://www.w3schools.com/w3css/img_default.asp" target="_blank">w3.css</a><br>&#169;&nbsp;{{ today | localized_date: '%Y' }}</p>
  <p>{% locale_switcher %}</p>
</footer>